service: atode-reminder
frameworkVersion: '3'
useDotenv: true

provider:
  name: aws
  runtime: python3.9
  region: ap-northeast-1
  environment:
    SLACK_TOKEN: ${env:SLACK_TOKEN}

functions:
  bot:
    handler: handler.bot
    events:
      - httpApi:
          path: /
          method: post
    memorySize: 128
    timeout: 10
    reservedConcurrency: 1
