service: atode-reminder
frameworkVersion: '3'
useDotenv: true

provider:
  name: aws
  runtime: python3.9
  region: ap-northeast-1
  environment:
    SLACK_TOKEN: ${env:SLACK_TOKEN}

functions:
  listen_event:
    handler: handler.listen_event
    events:
      - httpApi:
          path: /listen_event
          method: post
    memorySize: 128
    timeout: 10
    reservedConcurrency: 1
  listen_action:
    handler: handler.listen_action
    events:
      - httpApi:
          path: /listen_action
          method: post
    memorySize: 128
    timeout: 10
    reservedConcurrency: 1

package:
  patterns:
    - "modules/actions.py"
    - "handler.py"

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
